{% load static %}
{% load widget_tweaks %}

{% include 'accounts/main.html' %}

{% block content %}

<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<link
href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
type="text/css"
/>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


<link rel="stylesheet" href="/static/css/tagsinput.css" />

<style>
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>

<div class="pt-5 pb-5" style="margin: auto; width: 50%;">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group col" style="margin: auto; width: 100%; margin-bottom: 10px;">
            <label for="title">Title : </label><br>
            {% render_field form.complaint_title class="form-control" name="complaint_title" id="complaint_title" type="text" %}
        </div>
        <div class="form-group col" style="margin: auto; width: 100%; margin-bottom: 10px;">
            <label for="geocoder">Place : </label><br>
            <div id="geocoder">
            </div>
        </div>
        <div class="form-group col" style="margin: auto; width: 100%; margin-bottom: 10px;">
            <label for="description">Description : </label><br>
            {% render_field form.complaint_description class="form-control" name="complaint_description" type="text" %}
        </div>
        <div class="form-group col" style="margin: auto; width: 100%; margin-bottom: 10px;">
            <label for="request_image">Request_Image : </label><br>
            {% render_field form.complaint_request_image name="complaint_request_image" type="file" %}
        </div>
        <div class="form-group col" style="margin: auto; width: 100%; margin-bottom: 10px;">
            <label>Tags</label>
            {% render_field form.tags class="form-control" name="tags" data-role="tagsinput" type="text" %}
        </div>
        <!-- <pre id="result"></pre> -->
        <input id="complaint_place_geocode" name="complaint_place_geocode" type="hidden">
        <span style="padding-left: 15px;"></span>
        <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
        </span>
        <!--
            <span style="padding-left: 15px;"><button type="submit">Upload</button></span>
        -->
    </form>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
 
    <style>
    #geocoder {
        z-index: 1;
        margin: 20px;
    }
    .mapboxgl-ctrl-geocoder {
        min-width: 100%;
    }
    </style>
    
    <script>
        
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXBoaXJhbS1yZW5haXMiLCJhIjoiY2t5ajZ1aTVoMWk4ZTJvcG1nNzRjaWY0MiJ9.ipIanO9ZaafvcgugtuZAFg';

      const geocoder = new MapboxGeocoder({
        // Initialize the geocoder
        accessToken: mapboxgl.accessToken, // Set the access token
        mapboxgl: mapboxgl, // Set the mapbox-gl instance
        marker: false, // Do not use the default marker style
        placeholder: 'Search for places', // Placeholder text for the search bar
        countries: "in",
      });

      geocoder.addTo('#geocoder');

      // Get the geocoder results container.
      var complaint_place_geocode = null;
        
        // Add geocoder result to container.
        geocoder.on('result', (e) => {
            complaint_place_geocode = JSON.stringify(e.result, null, 2);
        });

        $("#submit").on('click', function () {
            document.getElementById('complaint_place_geocode').value = complaint_place_geocode;
            // alert(document.getElementById('complaint_place_geocode').value);
        });
    
    </script>
</div>
<script src="/static/js/tagsinput.js"></script>
<script>
$("#post-form").submit(function(e){
    e.preventDefault();
    });</script>

{% endblock %}